[submodule "Pipeline-MIPS-using-verilog"]
	path = Pipeline-MIPS-using-verilog
	url = https://github.com/AmirAbaskohi/Pipeline-MIPS-using-verilog
[submodule "SingleCycleMIPS"]
	path = SingleCycleMIPS
	url = https://github.com/AmirAbaskohi/SingleCycleMIPS
[submodule "MultiCycleMIPS"]
	path = MultiCycleMIPS
	url = https://github.com/AmirAbaskohi/MultiCycleMIPS
[submodule "BoothMultiplierInVerilog6bit"]
	path = BoothMultiplierInVerilog6bit
	url = https://github.com/AmirAbaskohi/BoothMultiplierInVerilog6bit
[submodule "Cache-implementation-verilog"]
	path = Cache-implementation-verilog
	url = https://github.com/AmirAbaskohi/Cache-implementation-verilog
